<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <body class="h-100">
    <!-- Navigation-->
    <div th:replace="~{fragment/navigation :: navigation}"></div>
    <script>
        history.replaceState({}, null, location.pathname);

        $(document).ready(function() {
            // 장르 클릭
            $('.genreSelect').click(function() {
                var genreId = $(this).attr('value');
                $('input[name=genreId]').val(genreId);
                $('form').submit();
            });

            // 전체 장르 클릭
            $('.genreAllSelect').click(function() {
                $('input[name=genreId]').val('');
                $('form').submit();
            });

            // 검색 이미지 클릭
            $('.movieListSearch').click(function() {
                $('form').submit();
            });
        });
    </script>
    <main>
        <section>
            <form th:action method="get">
                <div class="mt2r">
                    <div class="text-center">
                        <h2 class="fw-bold">영화 목록(<span th:text="${totalCount}"></span>)</h2>
                        <div class="section-div-movieList mt2r mb1r">
                            <div class="text-start genreDiv">
                                <input type="hidden" th:field="${condition.genreId}">
                                <span class="link mr1r genreAllSelect" th:classappend="${condition.genreId == null} ? 'linkClick'">전체</span>
                                <span th:each="genre : ${genreList}" th:value="${genre.id}" th:text="${genre.genreName}"
                                      class="link mr1r genreSelect" th:classappend="${condition.genreId == genre.id} ? 'linkClick'">장르이름</span>
                            </div>
                            <div class="floatL search-movieList">
                                <input class="search-input" type="text" name="title" th:value="${condition.title}" placeholder="영화제목 입력">
                                <img class="search-movieList-img movieListSearch" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="text-webkit-center mb3r">
                            <table class="genre-list">
                                <tr class="bg-bisque">
                                    <td style="width: 10%;">번호</td>
                                    <td>포스터</td>
                                    <td style="width: 20%;">영화 제목</td>
                                    <td>개봉일</td>
                                    <td>평점</td>
                                    <td style="width: 10%;">장르</td>
                                    <td>리뷰수</td>
                                    <td>활성화</td>
                                    <td style="width: 100px;"></td>
                                </tr>
                                <tr th:each="movie : ${movieAdminListDto}">
                                    <td th:text="${movie.id}">id</td>
                                    <td><img th:src="|/poster/${movie.storedFileName}|" width="130"></td>
                                    <td th:text="${movie.title}">영화 제목</td>
                                    <td th:text="${#calendars.format(movie.releaseDate, 'yyyy-MM-dd')}">개봉일</td>
                                    <td th:text="${movie.star}">평점</td>
                                    <td>
                                        <span th:each="genreName : ${movie.genreNameList}">
                                            <div class="badge bg-primary bg-gradient rounded-pill mb0p3r" th:text="${genreName}"></div>
                                        </span>
                                    </td>
                                    <td th:text="${movie.reviewCount}">리뷰수</td>
                                    <td><input type="checkbox" th:checked="${movie.visible}" disabled/></td>
                                    <td><a th:href="@{/admin/movie/modify/{id} (id=${movie.id})}" class="submit-btn btn-mini">수정</a></td>
                                </tr>
                            </table>
                        </div>
                        <!-- 영화 페이징 -->
                        <div class="text-center"
                             th:with="urlBuilder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}, size = ${page.size}">
                            <span class="mr1r" th:with="num = ${page.currNum - 1}">
                                <a th:href="${urlBuilder.replaceQueryParam('page', num).replaceQueryParam('size', size).toUriString()}"
                                   th:class="${page.first} ? 'disabled link' : 'link'">&lt;</a>
                            </span>
                            <span th:each="num : ${#numbers.sequence(page.startNum, page.endNum)}" class="mr1r">
                                <span th:if="${num == page.currNum}" th:text="${num + 1}" class="fw-bold cursor-default"></span>
                                <span th:if="${num != page.currNum}">
                                    <a th:text="${num + 1}" class="link"
                                       th:href="${urlBuilder.replaceQueryParam('page', num).replaceQueryParam('size', size).toUriString()}">1</a>
                                </span>
                            </span>
                            <span th:with="num = ${page.currNum + 1}">
                                <a th:href="${urlBuilder.replaceQueryParam('page', num).replaceQueryParam('size', size).toUriString()}"
                                   th:class="${page.last} ? 'disabled link' : 'link'">&gt;</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <!-- Footer-->
    <div th:replace="~{fragment/footer :: footer}"></div>
    </body>
</html>