<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer" id="footer" class="bg-dark py1p5r">
      <div class="px3r">
        <div class="flex align-items-center justify-content-between">
          <div class="col-auto"><div class="small text-white">Copyright &copy; Wonkyung Choi 2022</div></div>
          <div class="col-auto">
            <a class="link-light small" href="#!">Contact</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>