<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <head th:fragment="header">
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="_csrf" th:content="${_csrf.token}"/>
      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
      <title>MovieStory</title>
      <!-- icon-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap icons-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
      <link th:href="@{/css/common.css}" rel="stylesheet" />
      <link th:href="@{/css/style.css}" rel="stylesheet" />

      <link rel="stylesheet" type="text/css" th:href="@{/slick/slick.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/slick/slick-theme.css}"/>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>

    <head th:fragment="header-datePicker">
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="_csrf" th:content="${_csrf.token}"/>
      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
      <title>MovieStory</title>
      <!-- icon-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap icons-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
      <link href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet">
      <link th:href="@{/css/common.css}" rel="stylesheet" />
      <link th:href="@{/css/style.css}" rel="stylesheet" />

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
      <script>
        $( function() {
          $( "#datePicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            yearRange: '1900:c',
            minDate: new Date('1900-01-01'),
            maxDate: '0'
          });
        } );
      </script>
    </head>
  </body>
</html>