<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:replace="~{fragment/header :: header}"></div>
<body class="h-100">
<!-- Navigation-->
<div th:replace="~{fragment/navigation :: navigation}"></div>
<main>
  <section>
    <div class="my10r">
      <div class="text-center">
        <h2 class="fw-bold">회원 탈퇴</h2>
        <p class="mt1r mb3p5r">
          그동안 이용해주셔서 감사합니다.<br>
          회원 탈퇴를 원하시면 비밀번호 확인 후 동의란에 체크해주세요.<br>
          <span class="fw-bold" th:if="${reviewCount > 0}">
            회원님이 작성해주신 리뷰 <span th:text="|${reviewCount}건|"></span>은 삭제되지 않고 그대로 남아있습니다.<br>
            삭제하러 가시겠습니까?
            <br><br>
            <button class="submit-btn btn" th:onclick="javascript:history.back();">리뷰삭제</button>
          </span>
        </p>
        <div class="joinDivStyle">
          <form th:action method="post" th:object="${deleteUserPasswordConfirmForm}">
            <div class="joinDiv">
              <label for="password" class="text-start">비밀번호 확인</label>
              <input type="password" id="password" th:field="*{password}" class="text-field" placeholder="비밀번호"
                     th:class="${#fields.hasErrors('password')? 'text-field fieldError' : 'text-field'}">
              <p class="text-start text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div><br>
            <div>
              <input type="checkbox" id="confirmDelete" th:field="*{confirmDelete}">
              <label for="confirmDelete" class="mr1r">회원탈퇴에 동의합니다.</label>
              <p class="text-start text-error" th:if="${#fields.hasErrors('confirmDelete')}" th:errors="*{confirmDelete}"></p>
            </div><br>
            <input type="submit" value="회원탈퇴" class="submit-btn btn">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>