<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:replace="~{fragment/header :: header}"></div>
<body>
<div id="wrapper">
<!-- Navigation-->
<div th:replace="~{fragment/navigation :: navigation}"></div>
<main>
  <section>
    <div class="my10r">
      <div class="text-center">
        <h2 class="fw-bold">아이디 찾기</h2>
        <div class="joinDivStyle">
            <div class="joinDiv">
              <label for="loginId" class="text-start">아이디 확인</label>
              <input type="text" id="loginId" class="text-field border-0 text-center fw-bold" th:value="${loginId}" readonly>
              <a th:href="@{/user/loginForm}" class="submit-btn btn">로그인</a>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
</div>
<!-- Footer-->
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>