<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:replace="~{fragment/header :: header}"></div>
<body>
<div id="wrapper">
<!-- Navigation-->
<div th:replace="~{fragment/navigation :: navigation}"></div>
<main>
  <section>
    <div class="my10r">
      <div class="text-center">
        <h2 class="fw-bold">비밀번호 찾기</h2>
        <h5 class="pwResult">
          <span th:text="${email}"></span> 로 임시 비밀번호를 전송하였습니다.
        </h5>
        <a th:href="@{/user/loginForm}" class="submit-btn btn">로그인</a>
      </div>
    </div>
  </section>
</main>
</div>
<!-- Footer-->
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>