<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:replace="~{fragment/header :: header}"></div>
<body class="h-100">
<!-- Navigation-->
<div th:replace="~{fragment/navigation :: navigation}"></div>
<main>
  <section>
    <div class="my10r">
      <div class="text-center">
        <h2 class="fw-bold">비밀번호 변경</h2>
        <div class="joinDivStyle">
          <form th:action method="post">
            <div class="joinDiv" th:object="${modifyPasswordConfirmForm}">
              <label for="password" class="text-start">비밀번호 확인</label>
              <input type="password" id="password" th:field="*{password}" class="text-field" placeholder="비밀번호"
                     th:class="${#fields.hasErrors('password')? 'text-field fieldError' : 'text-field'}">
              <p class="text-start  text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div><br>
            <input type="submit" value="확인" class="submit-btn btn">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>