<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <body>
    <div id="wrapper">
    <!-- Navigation-->
    <div th:replace="~{fragment/navigation :: navigation-movie}"></div>
    <script>
         const drawStar = (target) => {
            document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
            document.querySelector('input[name="star"]').value = `${target.value}`;
            document.querySelector('.displayStar').value = `${target.value}`;
         }

         function checkForm() {
            if(document.querySelector('input[name="star"]').value == 0) {
                alert('별점은 1점 이상이어야합니다');
                return false;
            }

            if($("#content").val().trim().length < 1) {
                alert('평가글을 작성해주세요.');
                return false;
            }

            return true;
         }
    </script>
    <main>
        <section>
            <div th:object="${movie}" class="mt3p ml14p">
                <div class="floatL">
                    <img th:src="|/poster/*{storedFileName}|" width="200"/>
                </div>
                <table class="movieDetailTable">
                    <tr>
                        <td style="width: 20%;">제목</td>
                        <td><span th:text="*{title}"></span></td>
                    </tr>
                    <tr>
                        <td>개봉일</td>
                        <td><span th:text="${#calendars.format(movie.releaseDate, 'yyyy-MM-dd')}"></span></td>
                    </tr>
                    <tr>
                        <td>별점</td>
                        <td><i class="fa fa-star"></i><span th:text="*{star}"></span></td>
                    </tr>
                    <tr>
                        <td>장르</td>
                        <td>
                            <span th:each="genreName : *{genreNameList}">
                                <div class="badge bg-primary bg-gradient rounded-pill mb0p3r" th:text="${genreName}"></div>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td><span th:text="*{content}"></span></td>
                    </tr>
                </table>
            </div>
        </section>
        <hr class="w90p mt4r mb2r ml5p">
        <section style="height: 450px;">
            <div class="reviewDiv">
                <div class="floatL inline-block" style="width: 690px;">
                    <!-- 로그인 안 했을 때 -->
                    <div sec:authorize="isAnonymous()">
                        <form>
                            <h3>리뷰 남기기</h3>
                            <span class="star">
                                ★★★★★
                                <span>★★★★★</span>
                                <input type="range" value="1" step="1" min="0" max="10" readonly>
                            </span>
                            <div>
                                <textarea name="content" class="textarea-big cursor-pointer" readonly th:onclick="|location.href='@{/user/loginForm}'|">로그인 시 이용가능합니다. 로그인 페이지 이동</textarea>
                            </div>
                            <input type="button" value="등록" class="submit-cancel btn-middle">
                        </form>
                    </div>
                    <!-- 로그인 되었을 때 -->
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/review/create/{id} (id=${movie.id}, page=${page.currNum}, size=${page.size})}" th:object="${reviewCreateForm}" method="post"
                              onsubmit="return checkForm()">
                            <h3>리뷰 남기기</h3>
                            <span class="star">
                                ★★★★★
                                <span>★★★★★</span>
                                <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
                            </span>
                            <input class="displayStar" disabled />
                            <input type="hidden" name="star" th:field="*{star}">
                            <p class="text-start text-error" th:if="${#fields.hasErrors('star')}" th:errors="*{star}"></p><br>
                            <textarea name="content" class="textarea-big" spellcheck="false" th:field="*{content}"></textarea>
                            <p class="text-start text-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p><br>
                            <input type="hidden" name="page" th:value="${page.currNum}" />
                            <input type="hidden" name="size" th:value="${page.size}" />
                            <input type="submit" value="등록" class="submit-btn btn-middle">
                        </form>
                    </div>
                </div>
                <!-- 영화 리뷰 list -->
                <div class="inline-block" style="width: 550px;">
                    <h4>리뷰(<span th:text="${totalCount}"></span>)</h4>
                    <div th:each="review, i : ${reviewList}" style="width: 100%;" th:class="${i.count eq reviewList.size} ? 'mb2r inline-block' : 'inline-block'">
                        <div class="floatL" style="width: 90px;">
                            <span class="list-star">
                                ★★★★★
                                <span th:style="|width: ${review.star * 10}%|">★★★★★</span>
                                <input type="range">
                            </span>
                            <br><span th:text="${#numbers.formatInteger(review.star, 1)}">5.0</span>
                        </div>
                        <div class="grid">
                            <span th:text="${review.content}">너무 너무 너무 재밌었어요.</span>
                            <span th:text="${review.nickname}" class="review-small-font">원경</span>
                        </div>
                        <div style="clear: both;"></div>
                        <hr th:class="${i.count eq reviewList.size} ? 'none'">
                    </div>
                    <!-- 리뷰 페이징 -->
                    <div th:replace="~{fragment/paging :: paging}"></div>
                </div>
            </div>
        </section>
    </main>
    </div>
    <!-- Footer-->
    <div th:replace="~{fragment/footer :: footer}"></div>
    </body>
</html>