<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <body>
    <div id="wrapper">
    <!-- Navigation-->
    <div th:replace="~{fragment/navigation :: navigation-movie}"></div>
    <script>
        $(document).ready(function() {
            // 장르 클릭
            $('.genreSelect').click(function() {
                var genreId = $(this).attr('value');
                $('input[name=genreId]').val(genreId);
                $('form').submit();
            });

            // 전체 장르 클릭
            $('.genreAllSelect').click(function() {
                $('input[name=genreId]').val('');
                $('form').submit();
            });

            // 검색 이미지 클릭
            $('.movieListSearch').click(function() {
                var title = $('input[name=title]').attr('value');

                if(title.trim().length > 0) {
                    $('input[name=title]').val(title.trim());
                    $('form').submit();
                }
            });
        });
    </script>
    <main>
        <section>
            <form name="form" th:action method="get">
                <div class="section-div-movieList">
                    <div class="my3p">
                        <div class="text-start genreDiv">
                            <input type="hidden" th:field="${condition.genreId}">
                            <span class="link mr1r genreAllSelect" th:classappend="${condition.genreId == null} ? 'linkClick'">전체</span>
                            <span th:each="genre : ${genreList}" th:value="${genre.id}" th:text="${genre.genreName}"
                                  class="link mr1r genreSelect" th:classappend="${condition.genreId == genre.id} ? 'linkClick'">장르이름</span>
                        </div>
                        <div class="floatL search-movieList">
                            <input class="search-input" type="text" name="title" th:value="${condition.title}" placeholder="영화제목 입력">
                            <img class="search-movieList-img movieListSearch" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="col-lg-2 floatL mb4r" th:each="movie : ${movieList}" th:onclick="|location.href='@{/movie/{id} (id=${movie.id})}'|">
                        <div class="card shadow border-0">
                            <img th:src="|/poster/${movie.storedFileName}|" class="cursor-pointer"/>
                            <div class="p1p5r">
                                <span th:each="genreName : ${movie.genreNameList}">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb0p3r" th:text="${genreName}"></div>
                                </span>
                                <br>
                                <div class="mb0p2r fs0p9r cursor-pointer">
                                    <i class="fa fa-star"></i><span th:text="${movie.star}">평점</span>(<span th:text="${movie.reviewCount}"></span>)
                                </div>
                                <div class="fs1p2r mt3px cursor-pointer" href="#!"><h5 th:text="${movie.title}">영화 제목</h5></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div th:replace="~{fragment/paging :: paging-userSearchCondition}"></div>
                </div>
            </form>
        </section>
    </main>
    </div>
    <!-- Footer-->
    <div th:replace="~{fragment/footer :: footer}"></div>
    </body>
</html>