<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <body class="h-100">
    <!-- Navigation-->
    <div th:replace="~{fragment/navigation :: navigation-movie}"></div>
    <main>
        <section>
            <form th:action method="post">
                <div class="section-div-movieList">
                    <div class="my3p">
                        <div class="text-start genreDiv">
                            <span class="link mr1r">전체</span>
                            <span th:each="genre : ${genreList}" th:text="${genre.genreName}" class="link mr1r"></span>
                        </div>
                        <div class="floatL search-movieList">
                            <input class="search-input" type="text" th:field="${title}" placeholder="영화제목 입력">
                            <img class="search-movieList-img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="col-lg-2 floatL mb4r" th:each="movie : ${movieList}" th:onclick="|location.href='@{/movie/{id} (id=${movie.id})}'|">
                        <div class="card shadow border-0">
                            <img th:src="|/poster/${movie.storedFileName}|" />
                            <div class="p1p5r">
                                <span th:each="genreName : ${movie.genreNameList}">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb0p3r" th:text="${genreName}"></div>
                                </span>
                                <br>
                                <div class="mb0p2r fs0p9r">
                                    <i class="fa fa-star"></i><span th:text="${movie.star}">평점</span>(<span th:text="${movie.reviewCount}"></span>)
                                </div>
                                <div class="fs1p2r mt3px" href="#!"><h5 th:text="${movie.title}">영화 제목</h5></div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="text-center">
                        <span class="mr1r">
                            <a th:href="@{/movie/list?page={page}&size={size} (page=${page.currNum-1}, size=${page.size})}"
                               th:class="${page.first} ? 'disabled link' : 'link'">&lt;</a>
                        </span>
                        <span th:each="num : ${#numbers.sequence(page.startNum, page.endNum)}" class="mr1r">
                            <a th:href="@{/movie/list?page={num}&size={size} (num=${num}, size=${page.size})}"
                               th:text="${num + 1}"
                               th:class="${num == page.currNum} ? 'fw-bold' : 'link'">1</a>
                        </span>
                        <span>
                            <a th:href="@{/movie/list?page={page}&size={size} (page=${page.currNum+1}, size=${page.size})}"
                               th:class="${page.last} ? 'disabled link' : 'link'">&gt;</a>
                        </span>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <!-- Footer-->
    <div th:replace="~{fragment/footer :: footer}"></div>
    </body>
</html>