/* 공통으로 사용하는 css */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gradient {
  background-image: var(--bs-gradient) !important;
}

.bg-bisque {
  background-color: bisque;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.contents {
  display: contents;
}

.grid {
  display: grid;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.content {
  contain: content;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.border-0 {
  border: 0 !important;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-600 {
  font-weight: 600;
}

.text-start {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-webkit-center {
  text-align: -webkit-center;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.link-light {
  color: #f8f9fa;
}

.link-light:hover, .link-light:focus {
  color: #f9fafb;
}

.red {
  color: red;
}

.small {
  font-size: 0.875em;
}

.larger {
  font-size: larger;
}

.fs0p9r {
  font-size: 0.9rem;
}

.fs1p1r {
  font-size: 1.1rem;
}

.fs1p2r {
  font-size: 1.2rem;
}

.fs1p25r {
  font-size: 1.25rem;
}

.fit {
  width: fit-content;
}

.w40p {
  width: 40%;
}

.w45p {
  width: 45%;
}

.w50p {
  width: 50%;
}

.w55p {
  width: 55%;
}

.w60p {
  width: 60%;
}

.w90p {
  width: 90%;
}

.p0p5r {
  padding: 0.5rem;
}

.p1p5r {
  padding: 1.5rem;
}

.px3r {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py1p5r {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py6r {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py7r {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.pl0p2r {
  padding-left: 0.2rem;
}

.pt12p {
  padding-top: 12%;
}

.pt6p {
  padding-top: 6%;
}

.pt8p {
  padding-top: 8%;
}

.pb6p {
  padding-bottom: 6%;
}

.mt3px {
  margin-top: 3px;
}

.mt1r {
  margin-top: 1rem !important;
}

.mt2r {
  margin-top: 2rem !important;
}

.mt4r {
  margin-top: 4rem !important;
}

.mt5r {
  margin-top: 5rem !important;
}

.my2p {
  margin-top: 2%;
  margin-bottom: 2%;
}

.my3p {
  margin-top: 3%;
  margin-bottom: 3%;
}

.my4p {
  margin-top: 4%;
  margin-bottom: 4%;
}

.my3r {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my8r {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my10r {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.my15r {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.mt4p5r {
  margin-top: 4.5rem;
}

.ml0p5r {
  margin-left: 0.5rem;
}

.ml1p5r {
  margin-left: 1.5rem;
}

.ml3r {
  margin-left: 3rem;
}

.ml5p {
  margin-left: 5%;
}

.ml7p {
  margin-left: 7%;
}

.ml10p {
  margin-left: 10%;
}

.ml14p {
  margin-left: 14%;
}

.mt3p {
  margin-top:  3%;
}

.mr5p {
  margin-right: 5%;
}

.mr1r {
  margin-right: 1rem;
}

.mb0p2r {
  margin-bottom: 0.2rem;
}

.mb0p3r {
  margin-bottom: 0.3rem;
}

.mb0p5r {
  margin-bottom: 0.5rem;
}

.mb0p8r {
  margin-bottom: 0.8rem;
}

.mb1r {
  margin-bottom: 1rem !important;
}

.mb1p5r {
  margin-bottom: 1.5rem;
}

.mb2r {
  margin-bottom: 2rem;
}

.mb3r {
  margin-bottom: 3rem;
}

.mb3p5r {
  margin-bottom: 3.5rem;
}

.mb4r {
  margin-bottom: 4rem;
}

.mb5r {
  margin-bottom: 5rem;
}

.mb6r {
  margin-bottom: 6rem;
}

