<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <body>
    <div id="wrapper">
    <!-- Navigation-->
    <div th:replace="~{fragment/navigation :: navigation}"></div>
    <main>
        <section>
            <div class="mt5r">
                <div class="text-center">
                    <h2 class="fw-bold">장르 목록</h2>
                    <div class="text-webkit-center mt2r mb3r">
                        <table class="genre-list">
                            <tr class="bg-bisque">
                                <td style="width: 20%;">번호</td>
                                <td>장르</td>
                                <td style="width: 100px;"></td>
                            </tr>
                            <tr th:each="genre : ${genreList}">
                                <td th:text="${genre.id}">id</td>
                                <td th:text="${genre.genreName}">장르명</td>
                                <td><a th:href="@{/admin/genre/modify/{id} (id=${genre.id})}" class="submit-btn btn-mini">수정</a></td>
                            </tr>
                        </table>
                    </div>
                    <!-- 장르 페이징 -->
                    <div th:replace="~{fragment/paging :: paging}"></div>
                </div>
            </div>
        </section>
    </main>
    </div>
    <!-- Footer-->
    <div th:replace="~{fragment/footer :: footer}"></div>
    </body>
</html>